@import model.CountryWithSurfaceReport

@(results : CountryWithSurfaceReport)

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Data Analysis</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">

</head>

<body>
<h2>Data Analysis</h2>
    <div>
        <div>
            <div class="homeLink">
                <a href='/'>Home</a>
            </div>
            <table>
                <caption>Countries with Surface</caption>
                <tr>
                    <th>Country Name</th>
                    <th>Surface Count</th>
                </tr>
                @for(result <- results.maxSurface) {
                <tr>
                    <td>@result.countryName</td>
                    <td>@result.surfaceCount</td>

                </tr>
                }
            </table>

        </div>
    </div>
</body>
